* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.modal-page {
  width: 580px;
  height: 300px;
  background-image: linear-gradient(135deg, #576aca 0%, #576aca 100%);
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: 25%;
  z-index: 111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 2px 8px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 2px 8px 1px rgba(34, 60, 80, 0.2);
}

.modal-title {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.842);
}

.modal-btns {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.modal-button {
  cursor: pointer;
  width: 185px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.884);
  border-radius: 5px;
  background: none;
  color: rgba(255, 255, 255, 0.897);
  transition: 0.2s linear;
}

.modal-button:hover {
  transition: 0.2s linear;
  background-color: #5365bd !important;
}

.black-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.068);
}
