* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.balance-block {
  width: 300px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 4px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 4px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 4px -1px rgba(34, 60, 80, 0.2);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance-title {
  color: rgba(0, 0, 0, 0.596);
  font-size: 0.9;
}

.balance-value {
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.699);
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 10px;
}

.icons-euro {
  padding-right: 5px;
}
