* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.stats-block {
  width: 100%;
  max-height: 100vh;
  margin-left: 50px;
}

.graph-block {
  position: relative;
  width: 100%;
  height: 510px;
  border-radius: 7px;
  padding: 40px 30px;
  box-shadow: 0px 0px 4px -1px rgba(34, 60, 80, 0.2);
  background-color: rgba(255, 255, 255, 0.904);
}

.graph-block__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.graph-block__header-left {
  width: 50%;
  display: flex;
  align-items: center;
}

.graph-block__title {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
}

.select-block {
  width: 150px;
  margin-left: 10px;
}

.graph-block__header-right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-block__filter {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.2s linear;
}

.graph-block__filter:hover {
  color: #5b72e0;
  transition: 0.2s linear;
}

.graph-block__filter:active {
  transform: scale(0.9);
  transition: 0.2s linear;
}

.graph-block__filter:after {
  display: block;
  content: "";
  padding-top: 2px;
  border-bottom: solid 2px #5b72e0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.graph-block__filter:hover:after {
  transform: scaleX(1);
}

.card-info__block {
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.card-info__balance,
.card-info__income,
.card-info__expenses {
  display: flex;
  flex-direction: column;
}

.card-info__text {
  color: rgba(0, 0, 0, 0.6);
}

.card-info__balance-value,
.card-info__income-value,
.card-info__expenses-value {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 8px;
  font-size: 1.2em;
}

.card-info__income-value {
  color: #39ceaa;
}

.card-info__expenses-value {
  color: #ff5373;
}
