* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.App {
  display: flex;
}

/* ScrollBar style */
::-webkit-scrollbar-track {
  background-color: #ffffffa8;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #4958b62d;
}
